.card {
  width: min(430px, calc(100vw - 42px));
  min-height: 630px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 36px;
  gap: 20px;

  border: 1px solid var(--border-strong);
  border-radius: 10px;
  background: #fff;
}

.wide {
  width: min(374px, calc(100vw - 42px));
  min-height: 150px;
  justify-content: center;
}
